body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #eee;
    font-size: 0.9em;
}
div.page-content {
    background: white;
}
body>header {
    margin: 0px;
    /*background: #e9efdf;*/
    background: white;
    color: #ee3764;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    border-top: solid 4px #99a87f;
    border-bottom: solid 2px #ee3764;
}
body>header div.title {
    font-weight: bold;
    margin-top: 15px;
}
body>header div.logo {
    background-image: url(../img/logo2.png);
    background-size: 160px;
    background-repeat: no-repeat;
    min-width: 160px;
    margin-left: 10px;
}

header ul {
    list-style: none;
}
body>header nav {
    margin-left: auto;
    margin-right: 25px;
    font-weight: 600;
}
body>header nav a:hover {
    color: #ee3764;
}
header nav li {
    display: inline;
    margin-left: 10px;
}
body>header a, body>header a:visited {
    color: black;
    font-style: small-caps;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
div.portrait-title h3 {
    margin-top: -20px;
}

ul.networks {
    margin: 0px;
    padding: 0px;
    font-size: 140%;
}

main {
    flex: 1 0 auto;
}
main>div.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 820px;
    padding: 10px;
}
main div.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 820px;
}
main div.main-index label {
    display: inline-block;
    min-width: 150px;
}
main div.datetime {
    font-family: 'Roboto Mono', monospace;
    font-size: 75%;
    color: #666;
}
main div.datetime {
    margin-top: 10px;
}
main div.main-index div.datetime {
    margin-top: 0px;
}
div.main-index ul {
    list-style: none;
}
div.main-index ul a {
    font-size: 120%;
    font-weight: bold;
    font-variant: small-caps;
}
div.main-index ul .fas, div.main-index ul .far {
    display: inline-block;
    min-width: 25px;
    color: #686;
}
div.main-index dt {
    font-weight: bold;
    margin-left: 25px;
    margin-top: 10px;
    clear: both;
}
div.main-index dd {
    margin-left: 50px;
    margin-right: 25px;
}
div.main-index img.cover {
    float: right;
    display: block;
    height: 120px;
}
div.page-content img.cover {
    float: right;
    display: block;
    height: 240px;
}
div.page-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

a, a:active {
    color: #ee3764;
    text-decoration: underline;
}
main a:hover, footer a:hover {
    color: #ee3764;
}
h3 a, h2 a {
    text-decoration: none;
}

body>header a {
    color: black;
    border-bottom: none;
}


div#frontcover {
    width: 100%;
    min-height: 520px;
    border-bottom: solid 2px #ee3764;
    background-size: auto 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: black;
}
/*
div.frontcover1 {
    background: url(/img/cover1.jpg) black;
    background-size: auto 100%;
    background-position: center top;
    background-repeat: no-repeat;
}
div.frontcover2 {
    background: url(/img/cover2.jpg) black;
    background-size: auto 100%;
    background-position: center top;
    background-repeat: no-repeat;
}
*/
main>div.frontindex {
    width: 100%;
    background: #99a87f;
    border-top: solid 2px #99a87f;
    border-bottom: solid 2px #99a87f;
}
div.frontindex h2 {
    background: #ee3764;
    padding: 2px;
    border-radius: 20px;
    text-align: center;
}
div.frontindex h2 a {
    color: white;
}
img.thumbnail {
    height: 100px;
    float: left;
    box-shadow: none;
    margin: 10px;
}

footer a, footer a:visited {
    color: #99a87f;
}
footer {
    background: #383838;
    color: #ccc;
    font-family: 'Roboto Mono', monospace;
    font-size: 70%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-bottom: solid 8px #99a87f;
    border-top: solid 2px #ee3764;
}
footer .made-with {
    margin-top: 5px;
    font-size: 80%;
}
footer div.footer {
    flex-grow: 2;
}

footer div.contact ul {
    list-style: none;
}
div.footer div.logo {
    display: block;
    background: url(../img/logo3.png);
    background-size: 160px;
    background-repeat: no-repeat;
    min-width: 160px;
    min-height: 75px;
    width: 160px;
    margin-left: 10px;
}

.networks ul {
    list-style: none;
}
.networks li {
    display: inline;
}
div.subbar {
    width: 100%;
    text-align: center;
}
div.subbar ul {
    list-style: none;
}
div.subbar ul li {
    display: inline-block;
    margin-left: 10px;
}
main div.page-content iframe {
    width: 800px;
    height: 600px;
}

div.warning {
    color: #900;
}
main ul.publications {
    list-style: disc;
}
main ul.publications li {
    margin-top: 5px;
}
main ul.publications a {
    font-family: 'Philosopher', sans-serif;
    font-size: 1em;
    font-variant: normal;
    font-weight: bold;
}
main ul.publications a.doi {
    font-family: 'Roboto Mono';
    font-size: 70%;
}
div.gallery {
    display: flex;
    flex-wrap: wrap;
}
div.gallery figure {
    display: inline-block;
    width: 320px;
    text-align: center;
    margin-bottom: 30px;
}
div.gallery figure figcaption {
    text-align: center;
    font-style: italic;
}
div.gallery div.datetime {
    margin-top: 3px;
}
blockquote
{
    padding: 0 60px;
    padding:10px;
    padding-left:55px;
    color: #333;
    font-style: italic;
    font-size: 110%;
}

blockquote:before {
    display: block;
    font-size: 120%;
    content: "\201C";
    height: 1px;
    margin-left: -0.55em;
    position:relative;
}

blockquote:after {
    display: inline;
    font-size: 120%;
    content: "\201D";
    right: 0px;
    height: 1px;
    position:relative;
}
figure {
    text-align: center;
}
article.post-list {
    border: solid 1px #99a87f;
    border-radius: 10px;
    padding: 5px;
    background: white;
    margin-bottom: 10px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 16px 0 rgba(0,0,0,0.19);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 120px;
}
article.post-list header, article.post-list h3 {
    margin: 0px;
}
article.post-list .description {
    margin-left: 5%;
}
article.post-list div.read-more {
    float: right;
    margin-top: -1.5em;
    margin-right: 5%;
}
.index-columns {
    clear: both;
}
.index-listing .read-more {
    text-align: center;
}
figure {
    overflow: hidden;
}
figure img, article img {
    padding: 0px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
figure.passend img {
    width: 800px;
}
figure.cover {
    width: 100%;
    text-align: center;
}
figure.rechts {
    float: right;
}
figure.klein img {
    width: 180px;
}
figure.links {
    float: left;
}
figure.breed {
    width: 100vw;
    margin-left: -50vw;
    position: relative;
    left: 50%;
}
dt {
    font-weight: bold;
}
div.bestuur {
    font-size: 80%;
}
div.bestuur ul {
    display: inline;
    list-style: none;
}
div.bestuur li {
    display: inline;
    margin-left: 3px;
}
div.bestuur li + li::before {
    content: ", ";
}
.article-date {
    color: #99a87f;
    margin-left: 10%;
    font-size: 90%;
}

header nav li:before {
    content: "»";
}

@media screen and (min-width: 1920px) {
    div#frontcover {
        min-height: 640px;
    }
}
@media screen and (max-width: 720px) {
    footer {
        display: block;
    }
    header nav li {
        display: block;
        margin-left: 2px;
    }
    figure {
        margin: 10px;
    }
    .card figure {
        width: 120px;
    }
    figure.klein img {
        width: 120px;
    }
    figure.breed img {
        width: 100%;
    }
    figure.nomobile {
        display: none;
    }
    figure img {
        max-width: 100%;
    }
    div.gallery {
        display: block;
    }
    video {
        max-width: 100%;
    }
    div#frontcover {
        min-height: 320px;
    }
}

.mailform {
    border: solid 1px #99a87f;
    border-radius: 10px;
    padding: 5px;
    background: white;
    margin-bottom: 10px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 16px 0 rgba(0,0,0,0.19);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 820px;
}
.mailform label {
    display: inline-block;
    vertical-align: top;
    width: 240px;
    font-weight: bold;
}
.mailform input[type=text], .mailform input[type=email], .mailform select  {
    width: 520px;
}
.mailform textarea {
    width: 520px;
    height: 240px;
}
.formrow {
    margin-bottom: 10px;
}
.mailform sup {
    color: red;
}
.hp {
    display: none;
}


video {
    height: 320px;
    margin-left: auto;
    margin-right: auto;
}

