<!-- page listing macros -->
{% macro page_info(page) %}
    <div class="article-info">
        {% if page.date %}
        <div class="article-date">{{ page.date | date(format=config.extra.date_format) }}</div>
        {% endif %}
        <div class="article-taxonomies">
            {% if page.taxonomies.categories %}
                <ul class="article-categories">
                    {% for cat in page.taxonomies.categories %}
                    <li><a href="{{ get_taxonomy_url(kind="categories", name=category, lang=lang) | safe }}">{{ cat }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if page.taxonomies.tags %}
                <ul class="article-tags">
                    {% for tag in page.taxonomies.tags %}
                    <li><a href="{{ get_taxonomy_url(kind="tags", name=tag, lang=lang) | safe }}">#{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endmacro page_info %}

{% macro page_listing(page) %}
    <article class="post-list">
            {% if page.extra.thumbnail %}
            <a href="{{ page.permalink }}"><img class="thumbnail" src="{{ page.extra.thumbnail }}" alt="{{ page.title }}" /></a>
            {% endif %}

            <header>
                <h3>
                    <i class="fa fa-angle-double-right"></i>
                    <a href="{{ page.permalink }}">{{ page.title }}</a>
                </h3>
            </header>


            {% if page.description %}
            <div class="description">
                {{ page.description | markdown | safe }}
            </div>
            {% endif %}
            <div class="read-more"><i class="fa fa-book-open"></i> <a href="{{ page.permalink }}">Lees »</a></div>
        {{ self::page_info(page=page) }}
    </article>
{% endmacro page_listing %}

{% macro page_pagination(paginator) %}
    <div class="pagination">
        <div class="left pagination-item {% if not paginator.previous %}disabled{% endif %}">
            {% if paginator.previous %}
            <a href="{{ paginator.previous }}">Vorige pagina</a>
            {% endif %}
        </div>
        <div class="right pagination-item {% if not paginator.next %}disabled{% endif %}">
            {% if paginator.next %}
            <a href="{{ paginator.next }}">Volgende pagina</a>
            {% endif %}
        </div>
    </div>
{% endmacro page_pagination %}

<!-- gallery macro  -->
{% macro gallery(page,maxitems) %}
    <div class="gallery">
    {% for image in page.extra.gallery | slice(end=maxitems) %}
        <figure>
            {% set localpath = "static/" ~ image.path %}
            <a href="{{ get_url(path=image.path) }}">
              {% set thumbnail = resize_image(path=localpath, width=240, height=180, op="fit") %}
              <img src="{{ thumbnail.url }}" {% if image.caption %}title="{{ image.caption }}"{% endif %} />
            </a>
            {% if image.date %}
            <div class="datetime">{{ image.date | date(format=config.extra.datetime_format)}}</div>
            {% endif %}
            {% if image.caption %}
            <figcaption>{{ image.caption }}</figcaption>
            {% endif %}
        </figure>
        &ensp;
    {% endfor %}
    </div>
{% endmacro gallery %}


<!-- attachments macro  -->
{% macro attachments(page) %}
        <h2>Bijlagen</h2>
        <ul class="bijlagen">
        {% for attachment in page.extra.attachments %}
        <li><i class="fa fa-paperclip"></i> <a href="{{ config.base_url }}/attachments/{{ attachment.path | replace(from="/static/attachments/",to="/") }}">{{attachment.name}}</a>{% if attachment.description %} &mdash; {{ attachment.description }}{% endif %}</li>
        {% endfor %}
        </ul>
{% endmacro attachments %}

{% macro addresscards(page) %}
        {% for card in page.extra.addresscards %}
            <div class="card">
                {% if card.website %}
                <h3><a href="{{ card.website }}">{{ card.name }}</a></h3>
                {% else %}
                <h3>{{ card.name }}</h3>
                {% endif %}
                {% if card.image %}
                <figure class="rechts">
                    <img src="{{ config.base_url }}/img/{{ card.image }}" alt="{{ card.name }}" title="{{ card.name }}" />
                </figure
                {% endif %}
                <dl>
                    {% if card.description %}
                    <dt><i class="fa fa-info"></i> Beschrijving:</dt><dd> {{ card.description | markdown | safe }}</dd>
                    {% endif %}
                    {% if card.street %}
                    <dt><i class="fa fa-home"></i> Adres:</dt><dd> {{ card.street }}<br/>{{ card.postal }}<br/>{{ card.city }}</dd>
                    {% endif %}
                    {% if card.phone %}
                    <dt><i class="fa fa-phone"></i> Telefoon:</dt><dd> {{ card.phone }}</dd>
                    {% endif %}
                    {% if card.email %}
                    <dt><i class="fa fa-envelope"></i> E-mail:</dt><dd> <a href="mailto:{{card.email}}">{{ card.email }}</a></dd>
                    {% endif %}
                    {% if card.website %}
                    <dt><i class="fa fa-globe"></i> Website:</dt><dd> <a href="{{card.website}}">{{ card.website }}</a></dd>
                    {% endif %}
                </dl>
            </div>
        {% endfor %}
{% endmacro addresscards %}
