{# note: this is not the same gallery as the one in macros/page_macros.html ! #}

<div class="gallery">
{% if section.assets %}
{% set assets = section.assets %}
{% else %}
{% set assets = page.assets %}
{% endif %}
{% for asset in assets | sort | reverse %}
  {% if asset is matching("[.](jpg|png)$") %}
    <figure>
        <a href="{{ get_url(path=asset) }}">
          {% set thumbnail = resize_image(path=asset, width=240, height=180, op="fit") %}
          <img src="{{ thumbnail.url }}"
               title="{{ asset | split(pat="/") | last | split(pat=" ") | last | replace(from=".jpg",to="") }}"
          />
        </a>
        <div class="datetime">{{ asset | split(pat="/") | last | split(pat=" ") | first }}</div>
        <figcaption>{{ asset | split(pat="/") | last | split(pat=" ") | slice(start=1) | join(sep=" ") | replace(from=".jpg",to="") }}</figcaption>
    </figure>
    &ensp;
  {% endif %}
{% endfor %}
</div>
