body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}
img.rechts {
    float: right;
}
img.links {
    float: right;
}
img.passend {
    width: 100%;
}
img.klein {
    width: 180px;
}

