<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
        <!-- Enable responsiveness on mobile devices-->
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport"/>
        <title>
            {% block title %}
                {% if page.title %}
                {{ page.title }}
                {% elif section.title %}
                {{ section.title }}
                {% else %}
                {{ config.title }}
                {% endif %}
            {% endblock title %}
        </title>
        <link href="{{ get_url(path="/img/favicon.ico", trailing_slash=false) }}" rel="icon" type="image/x-icon"/>
        {% if config.generate_feeds %}
            <link rel="alternate" type={% if config.feed_filenames.0 == "atom.xml" %} "application/atom+xml" {% else %} "application/rss+xml" {% endif %} title="RSS" href="{{ config.base_url }}/rss.xml" />
        {% endif %}
        {# Metadata #}
        {% block metadata %}
            <meta content="website" property="og:type"/>
            <meta content="{{ config.title }}" property="og:site_name"/>

            {% if page.permalink %}
                <meta content="{{ page.permalink | safe }}" property="og:url"/>
                <meta content="{{ page.permalink | safe }}" property="twitter:url"/>
            {% else %}
                <meta content="{{ config.base_url | safe }}" property="og:url"/>
                <meta content="{{ config.base_url | safe }}" property="twitter:url"/>
            {% endif %}
            {% if page.title %}
                <meta content="{{ page.title }}" property="og:title"/>
                <meta content="{{ page.title }}" property="twitter:title"/>
            {% elif section.title %}
                <meta content="{{ section.title }}" property="og:title"/>
                <meta content="{{ section.title }}" property="twitter:title"/>
            {% else %}
                <meta content="{{ config.title }}" property="og:title"/>
                <meta content="{{ config.title }}" property="twitter:title"/>
            {% endif %}
            {% if page.description %}
                <meta content="{{ page.description }}" property="og:description"/>
                <meta content="{{ page.description }}" property="description"/>
                <meta content="{{ page.description }}" property="twitter:description"/>
            {% elif section.description %}
                <meta content="{{ section.description }}" property="og:description"/>
                <meta content="{{ section.description }}" property="description"/>
                <meta content="{{ section.description }}" property="twitter:description"/>
            {% else %}
                <meta content="{{ config.description }}" property="og:description"/>
                <meta content="{{ config.description }}" property="description"/>
                <meta content="{{ config.description }}" property="twitter:description"/>
            {% endif %}
            <meta content="summary_large_image" property="twitter:card"/>
            {% if page.extra.cover and page.extra.cover is starting_with("/") %}
                <meta content="{{ config.base_url | safe }}{{ page.extra.cover }}" property="og:image"/>
                <meta content="{{ config.base_url | safe }}{{ page.extra.cover }}" property="twitter:image"/>
            {% elif page.extra.cover %}
                <meta content="{{ page.permalink | safe }}/{{ page.extra.cover }}" property="og:image"/>
                <meta content="{{ page.permalink | safe }}/{{ page.extra.cover }}" property="twitter:image"/>
            {% else %}
                <meta content="{{ config.base_url | safe }}/img/logo.jpg" property="og:image"/>
                <meta content="{{ config.base_url | safe }}/img/logo.jpg" property="twitter:image"/>
            {% endif %}
            <meta name="generator" content="zola" />
        {% endblock metadata %}
        {% block css %}
            <link href="{{ get_url(path="css/fonts.css", trailing_slash=false) }}" rel="stylesheet"/>
            <link href="{{ get_url(path="css/main.css?v=2", trailing_slash=false) }}" rel="stylesheet"/>
            <link href="{{ get_url(path="css/fontawesome.css", trailing_slash=false) }}" rel="stylesheet"/>
        {% endblock css %}
        {% block extra_head %}{% endblock extra_head %}
    </head>
    <body>
        <header>
            <div class="logo"></div>
            {% block menu %}
            <nav class="menu">
                <ul>
                    {% for item in config.extra.menu %}
                        {% if item.url is starting_with("/") %}
                        <li><a href="{{ config.base_url }}{{ item.url }}">{{ item.name }}</a></li>
                        {% else %}
                        <li><a href="{{ config.base_url }}/{{ item.url }}">{{ item.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
            {% endblock menu %}
        </header>
        <main>
            {% block precontent %}
            {% endblock precontent %}
            <div class="content">
            {% block content %}
            {% endblock content %}
            </div>
            {% block postcontent %}
            {% endblock postcontent %}
        </main>
        <footer>
            {% block footer %}
                <div class="footer">
                    <div class="logo"></div>
                    <div class="copyright">
                        &#169;{{ config.extra.year }} <em><a href="mailto:{{ config.extra.email }}">{{ config.extra.author }}</a></em>
                    </div>
                    <div class="bestuur">
                        Bestuursleden:
                        <ul>
                        {% for bestuurslid in config.extra.bestuur %}
                            <li>{{ bestuurslid }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="made-with">
                        Webdesign door <a href="https://proycon.anaproy.nl">Maarten van Gompel</a>, aangedreven door <a href="https://www.getzola.org/" rel="noopener noreferrer" target="_blank">Zola</a><br />
                        <em>Deze website is privacy-vriendelijk en gebruikt geen cookies, externe scripts of trackers.</em>
                    </div>
                </div>
                <div class="contact">
                    <ul>
                    {% for network in config.extra.networks %}
                        <li>
                            {% if network.url is starting_with("/") %}
                            <i class="{{ network.icon_pack }} {{ network.icon }}" title="{{ network.name }}"></i> <a href="{{ config.base_url}}/{{ network.url }}">{{network.value| safe }}</a>
                            {% else %}
                            <i class="{{ network.icon_pack }} {{ network.icon }}" title="{{ network.name }}"></i> <a href="{{ network.url }}">{{network.value| safe }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
        {% endblock footer %}
        </footer>
    </body>
</html>
