{% extends "page.html" %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock %}

{% block postcontent %}
<div class="mailform">
 <form action="/mailer/" method="post">
    <input type="hidden" name="_to" value="info@gildebuurteindhoven.nl">
    <input type="hidden" name="_formName" value="Contactformulier gildebuurteindhoven.nl">
    <input type="hidden" name="_redirectTo" value="https://gildebuurteindhoven.nl/verstuurd">
    <input type="hidden" name="_replyTo" value="gildebuurt@anaproy.nl">

    <!--HP-->
    <input id="TEmail" type="email" name="_t_email" class="hp" />

    <div class="formrow">
        <label for="naam">Naam<sup title="verplicht veld">*</sup></label>
        <input id="naam" type="text" name="Naam" required />
    </div>

    <div class="formrow">
        <label for="Email">E-mail adres<sup title="verplicht veld">*</sup></label>
        <input id="Email" type="email" name="_replyTo" required />
    </div>

    <div class="formrow">
        <label for="adres">Straat &amp; Huisnummer</label>
        <input id="adres" type="text" name="Adres" />
    </div>

    <div class="formrow">
        <label for="telefoon">Telefoonnummer</label>
        <input id="telefoon" type="text" name="Telefoon" />
    </div>

    <div class="formrow">
        <label for="Onderwerp">Onderwerp<sup title="verplicht veld">*</sup></label>
        <select id="Onderwerp" name="_subject" required>
            <option value="vraag of opmerking">Ik heb een vraag, idee of opmerking</option>
            <option value="inschrijven voor moestuin">Ik wil me inschrijven voor een moestuintje (wachtlijst)</option>
            <option value="inschrijven activiteit">Ik wil me inschrijven voor een aangekondigde activiteit</option>
            <option value="activiteit organiseren">Ik wil een activiteit organiseren als vrijwilliger</option>
            <option value="bijdrage website">Ik heb een bijdrage voor op de website</option>
        </select>
    </div>

    <div class="formrow">
        <label for="Message">Uw bericht</label>
        <textarea id="bericht" name="Bericht"></textarea>
    </div>

    <div class="formrow">
        <label for="Control">Controlevraag<sup title="verplicht veld">*</sup></label>
        <span>Hoe heet onze buurt?</span><br/>
        <label></label> <em>(om geautomatiseerde spam tegen te gaan, dient u deze vraag correct te beantwoorden!)</em><br/>
        <label></label> <input id="Control" type="text" name="_control" />
    </div>

    <div class="formrow">
        <input type="submit" value="Versturen" />
    </div>

 </form>
</div>

{% endblock postcontent %}
