{% import "macros/page.html" as page_macros %}
{% extends "base.html" %}

{% block precontent %}
    <div id="frontcover" onclick="n=n+1; updateCover();">
    </div>
    <script>
    total = 11;
    function updateCover() {
        if (n > total) {
            n = 1;
        }
        document.getElementById("frontcover").style.backgroundImage = "url('/img/cover" + n + ".jpg')";
    }    
    n = Math.floor(Math.random() * total) + 1;
    updateCover();
    </script>
{% endblock precontent %}

{% block content %}
    {{ section.content | safe }}
{% endblock content %}

{% block postcontent %}
<div class="frontindex">
   <div class="content">
    <section class="index-columns">
    {% for subsec in config.extra.menu | filter(attribute="show_recent", value=true) %}
     {% if section.subsections is containing(subsec.name ~ "/_index.md") %}
        {% set subsec_path = subsec.slug ~ "/_index.md" %}
        {% set subsec_link_path = subsec.slug ~ "/" %}
     {% else %}
        {% set subsec_path = subsec.slug ~ "/_index.md" %}
        {% set subsec_link_path = subsec.slug ~ "/" %}
     {% endif %}
     {% set subsec_section = get_section(path=subsec_path) %}
     {% if subsec_section.pages %}
        <section class="index-listing">
            <h2>
                <a href="{{ subsec_link_path }}">{{ subsec.name }}</a>
            </h2>
            {% for page in subsec_section.pages %}
                {{ page_macros::page_listing(page=page) }}
            {% endfor %}
        </section>
     {% endif %}
    {% endfor %}
    </section>

    <p>
    Staat hier niet bij wat je zoekt? Zoek je wellicht oude buurtkranten of nieuws uit het verleden van onze stichting? Neem dan een kijkje in <a href="/archief/">het archief</a>.
    </p>
   </div>
</div>

    <div class="content">
    {% for subsec in config.extra.menu | filter(attribute="show_photos", value=true) %}
        <section class="index-listing">
            {% if section.subsections is containing(subsec.name ~ "/_index.md") %}
                {% set subsec_path = subsec.slug ~ "/_index.md" %}
                {% set subsec_link_path = subsec.slug ~ "/" %}
            {% else %}
                {% set subsec_path = subsec.slug ~ "/_index.md" %}
                {% set subsec_link_path = subsec.slug ~ "/" %}
            {% endif %}
            <h2>
                <a href="{{ subsec_link_path }}">{{ subsec.name }}</a>
            </h2>
            {% set subsec_section = get_section(path=subsec_path) %}
            {{ page_macros::gallery(page=subsec_section,maxitems=subsec.recent_items) }}
            <p class="read-more"><a href={{ subsec_link_path }}>Bekijk alle foto's »</a></p>
        </section>
    {% endfor %}
    </div>

{% endblock postcontent %}

