{% import "macros/page.html" as page_macros %}
{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock %}

{% block content %}
{% if page.extra.coverimage %}
<figure class="cover">
    <img src="/img/{{ page.extra.coverimage }}" alt="{{page.title}}" />
</figure>
{% endif %}
<article>
    {% if page.extra.featured_image %}
        {% set image_path = page.components | join(sep="/") %}
        {% set image_path = image_path ~ "/" ~ page.extra.featured_image %}
        {% if page.extra.featured_image_extended %}
            {% set resized_featured_image = resize_image(path=image_path, width=config.extra.images.max_width, op="fit_width") %}
        {% else %}
            {# container_width = (pixel size, px) * (.container's max-width) #}
            {% set container_width = 16 * 42 %}
            {% set resized_featured_image = resize_image(path=image_path, width=container_width, op="fit_width") %}
        {% endif %}
    <img src="{{ resized_featured_image.url }}" class="{% if page.extra.featured_image_extended %}extended-img{% endif %}" alt="{% if page.extra.featured_image_alt %}{{ page.extra.featured_image_alt }}{% else %}{{ page.title }}{% endif %}"/>
    {% endif %}
    {% set page_contents = page.content %}
    <header>
        <h1>{{ page.title }}</h1>
    </header>
    {{ page_macros::page_info(page=page) }}
    {% if page.extra.motto %}
        <blockquote>{{ page.extra.motto }}</blockquote>
    {% endif %}
    {% block page_contents %}
        <div class="content">
            {{ page_contents | safe }}
        </div>
    {% endblock page_contents %}

    {% if page.extra.attachments %}
    {{ page_macros::attachments(page=page) }}
    {% endif %}

    {% if page.extra.addresscards %}
    {{ page_macros::addresscards(page=page) }}
    {% endif %}

    {% if page.extra.gallery %}
    {{ page_macros::gallery(page=page,maxitems=999) }}
    {% endif %}
</article>
{% if page.extra.backimage %}
<figure class="cover">
    <img src="/img/{{ page.extra.backimage }}" />
</figure>
{% endif %}
{% endblock content %}
