{% import "macros/page.html" as page_macros %}
{% extends "base.html" %}

{% block title %}{{ section.title }} - {{ config.title }}{% endblock title %}

{% block content %}
    {% block heading %}
    <!--
    <p>
        Bekijk via: <a href="/tags/">tags</a>
    </p>
    -->
    {% endblock heading %}
    <h1>{{ section.title }}</h1>

    {{ section.content | safe }}

    <div class="listing">
    {% if paginator.pages %}
        {% for page in paginator.pages %}
            {{ page_macros::page_listing(page=page) }}
        {% endfor %}
        {{ page_macros::page_pagination(paginator=paginator) }}
    {% else %}
        {% for page in section.pages %}
            {{ page_macros::page_listing(page=page) }}
        {% endfor %}
    {% endif %}
    </div>

    {% if section.extra.gallery %}
    {{ page_macros::gallery(page=section,maxitems=999) }}
    {% endif %}
{% endblock content %}
